In [6]:
# Installing and Importing appropriate packages
%pip install requests

# Statistical Libraries
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.formula.api as sm
from statsmodels.tools.eval_measures import rmse
import seaborn as sns
from scipy import stats
import plotly.express as px
from statsmodels.discrete.discrete_model import Logit
from scipy.special import logit

# Import data Libraries
import requests
from zipfile import ZipFile as zf
import io

Requirement already satisfied: requests in /fs1/eecg/shuruizgrp/liuenmen/miniconda3/envs/tangerine-nb-kernel/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /fs1/eecg/shuruizgrp/liuenmen/miniconda3/envs/tangerine-nb-kernel/lib/python3.11/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /fs1/eecg/shuruizgrp/liuenmen/miniconda3/envs/tangerine-nb-kernel/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /fs1/eecg/shuruizgrp/liuenmen/miniconda3/envs/tangerine-nb-kernel/lib/python3.11/site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /fs1/eecg/shuruizgrp/liuenmen/miniconda3/envs/tangerine-nb-kernel/lib/python3.11/site-packages (from requests) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [7]:
# Import data
URL = 'https://archive.ics.uci.edu/static/public/2/adult.zip'
filename_data = "adult.data"
filename_test = "adult.test"

# Extracting from URL
response = requests.get(URL)
zipped = zf(io.BytesIO(response.content))
zipped.extract(filename_data)
zipped.extract(filename_test)

# Creating DataFrame from CSV file
col_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'above-below']
df_data = pd.read_csv(filename_data, sep=',', header=None, names=col_names, index_col=False, skipinitialspace = True)
print('Training Dataset:')
print(df_data.head(10))
print(" ")
print(" ")

df_test = pd.read_csv(filename_test, sep=',', header=None, skiprows=1, names=col_names, index_col=False, skipinitialspace = True)
print('Testing Dataset:')
print(df_test.head(10))

Training Dataset:
   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13
5   37           Private  284582    Masters             14
6   49           Private  160187        9th              5
7   52  Self-emp-not-inc  209642    HS-grad              9
8   31           Private   45781    Masters             14
9   42           Private  159449  Bachelors             13

          marital-status         occupation   relationship   race     sex  \
0          Never-married       Adm-clerical  Not-in-family  White    Male
1     Married-civ-spouse    Exec-managerial        Husband  White    Male
2               Divorced  Handlers-cleaners  Not-in-family  White    Male
3     Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4     Married-civ-spouse     Prof-specialty           Wife  Black  Female
5     Married-civ-spouse    Exec-managerial           Wife  White  Female
6  Married-spouse-absent      Other-service  Not-in-family  Black  Female
7     Married-civ-spouse    Exec-managerial        Husband  White    Male
8          Never-married     Prof-specialty  Not-in-family  White  Female
9     Married-civ-spouse    Exec-managerial        Husband  White    Male

   capital-gain  capital-loss  hours-per-week native-country above-below
0          2174             0              40  United-States       <=50K
1             0             0              13  United-States       <=50K
2             0             0              40  United-States       <=50K
3             0             0              40  United-States       <=50K
4             0             0              40           Cuba       <=50K
5             0             0              40  United-States       <=50K
6             0             0              16        Jamaica       <=50K
7             0             0              45  United-States        >50K
8         14084             0              50  United-States        >50K
9          5178             0              40  United-States        >50K


Testing Dataset:
   age         workclass  fnlwgt     education  education-num  \
0   25           Private  226802          11th              7
1   38           Private   89814       HS-grad              9
2   28         Local-gov  336951    Assoc-acdm             12
3   44           Private  160323  Some-college             10
4   18                 ?  103497  Some-college             10
5   34           Private  198693          10th              6
6   29                 ?  227026       HS-grad              9
7   63  Self-emp-not-inc  104626   Prof-school             15
8   24           Private  369667  Some-college             10
9   55           Private  104996       7th-8th              4

       marital-status         occupation   relationship   race     sex  \
0       Never-married  Machine-op-inspct      Own-child  Black    Male
1  Married-civ-spouse    Farming-fishing        Husband  White    Male
2  Married-civ-spouse    Protective-serv        Husband  White    Male
3  Married-civ-spouse  Machine-op-inspct        Husband  Black    Male
4       Never-married                  ?      Own-child  White  Female
5       Never-married      Other-service  Not-in-family  White    Male
6       Never-married                  ?      Unmarried  Black    Male
7  Married-civ-spouse     Prof-specialty        Husband  White    Male
8       Never-married      Other-service      Unmarried  White  Female
9  Married-civ-spouse       Craft-repair        Husband  White    Male

   capital-gain  capital-loss  hours-per-week native-country above-below
0             0             0              40  United-States      <=50K.
1             0             0              50  United-States      <=50K.
2             0             0              40  United-States       >50K.
3          7688             0              40  United-States       >50K.
4             0             0              30  United-States      <=50K.
5             0             0              30  United-States      <=50K.
6             0             0              40  United-States      <=50K.
7          3103             0              32  United-States       >50K.
8             0             0              40  United-States      <=50K.
9             0             0              10  United-States      <=50K.

In [8]:
# Searching for any NaN or blanks in the data
print('NaN values in DataFrame: ', df_data.isna().sum().sum())

NaN values in DataFrame:  0

In [9]:
# Identifying values in column to see if blank values are replaced by other characters
for col in df_data:
    print(df_data[col].unique())

[39 50 38 53 28 37 49 52 31 42 30 23 32 40 34 25 43 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 18 47 46 36 79 27 67 33 76 17 55 61 70 64 71 68
 66 51 58 26 60 90 75 65 77 62 63 80 72 74 69 73 81 78 88 82 83 84 85 86
 87]
['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' '?'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
[ 77516  83311 215646 ...  34066  84661 257302]
['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']
[13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]
['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' '?'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
['Male' 'Female']
[ 2174     0 14084  5178  5013  2407 14344 15024  7688 34095  4064  4386
  7298  1409  3674  1055  3464  2050  2176   594 20051  6849  4101  1111
  8614  3411  2597 25236  4650  9386  2463  3103 10605  2964  3325  2580
  3471  4865 99999  6514  1471  2329  2105  2885 25124 10520  2202  2961
 27828  6767  2228  1506 13550  2635  5556  4787  3781  3137  3818  3942
   914   401  2829  2977  4934  2062  2354  5455 15020  1424  3273 22040
  4416  3908 10566   991  4931  1086  7430  6497   114  7896  2346  3418
  3432  2907  1151  2414  2290 15831 41310  4508  2538  3456  6418  1848
  3887  5721  9562  1455  2036  1831 11678  2936  2993  7443  6360  1797
  1173  4687  6723  2009  6097  2653  1639 18481  7978  2387  5060]
[   0 2042 1408 1902 1573 1887 1719 1762 1564 2179 1816 1980 1977 1876
 1340 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653
 2392 1504 2001 1590 1651 1628 1848 1740 2002 1579 2258 1602  419 2547
 2174 2205 1726 2444 1138 2238  625  213 1539  880 1668 1092 1594 3004
 2231 1844  810 2824 2559 2057 1974  974 2149 1825 1735 1258 2129 2603
 2282  323 4356 2246 1617 1648 2489 3770 1755 3683 2267 2080 2457  155
 3900 2201 1944 2467 2163 2754 2472 1411]
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]
['United-States' 'Cuba' 'Jamaica' 'India' '?' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']
['<=50K' '>50K']