In [8]:
# import packages
import pandas as pd
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import numpy as np

# other installed packages: scipy, scikit-learn, statsmodels

In [9]:
# read dataset
df = pd.read_csv('../datasets/1-ibm-hr.csv')

In [10]:
# split categorical and numerical columns (except Attrition)

# categorical columns: Attrition, BusinessTravel, Department, EducationField, Gender, MaritalStatus, Over18, OverTime
categorical_columns = ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']
categorical= df.select_dtypes(include= "object") 

# integer values with categorical meanings:
int_categorical_columns = ['Education', 'EnvironmentSatisfaction', 'JobInvolvement', 'JobSatisfaction', 'PerformanceRating', 'RelationshipSatisfaction', 'WorkLifeBalance', 'JobLevel', 'StockOptionLevel']
int_categorical = df[int_categorical_columns]

# numerical columns
numerical_columns = ['Age', 'DailyRate', 'DistanceFromHome', 'EmployeeCount', 'EmployeeNumber', 'HourlyRate', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'StandardHours', 'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']
numerical = df[numerical_columns]

target_column = 'Attrition'

In [11]:
# Your task: your manager asks you to figure out the factors contributing to employees’ attrition (the “Attrition” column), 
#   please conduct Exploratory Data Analysis (EDA) for this task with the help of Tangerine.
# start your analysis here

In [12]:
categorical.shape

(1470, 9)

In [13]:
int_categorical.head()

,Education,EnvironmentSatisfaction,JobInvolvement,JobSatisfaction,PerformanceRating,RelationshipSatisfaction,WorkLifeBalance,JobLevel,StockOptionLevel
0,2,2,3,4,3,1,1,2,0
1,1,3,2,2,4,4,3,2,1
2,2,4,2,3,3,2,3,1,0
3,4,4,3,3,3,3,3,1,0
4,1,1,3,2,3,4,3,1,1

In [16]:
# logistic regression with statsmodels
import statsmodels.api as sm
all_categorical_columns = categorical_columns + int_categorical_columns
df_no_attrition = df.drop('Attrition', axis=1)
df_dummies = pd.get_dummies(df_no_attrition, columns=all_categorical_columns, drop_first=True)
X = df_dummies
y = df['Attrition'].replace(to_replace=['No', 'Yes'], value=[0, 1])
X = sm.add_constant(X)
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)
model = sm.Logit(y, X).fit()
print(model.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.263150
         Iterations: 35

/fs1/eecg/shuruizgrp/liuenmen/miniconda3/envs/tangerine-nb-kernel/lib/python3.11/site-packages/statsmodels/base/model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 1470
Model:                          Logit   Df Residuals:                     1406
Method:                           MLE   Df Model:                           63
Date:                Tue, 22 Aug 2023   Pseudo R-squ.:                  0.4042
Time:                        14:34:47   Log-Likelihood:                -386.83
converged:                      False   LL-Null:                       -649.29
Covariance Type:            nonrobust   LLR p-value:                 4.807e-74
=====================================================================================================
                                        coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
Age                                  -0.0312      0.014     -2.163      0.031      -0.060      -0.003
DailyRate                            -0.0004      0.000     -1.906      0.057      -0.001    1.27e-05
DistanceFromHome                      0.0557      0.012      4.792      0.000       0.033       0.078
EmployeeCount                        -0.0024   6.61e+06  -3.69e-10      1.000    -1.3e+07     1.3e+07
EmployeeNumber                       -0.0002      0.000     -1.277      0.202      -0.001       0.000
HourlyRate                            0.0046      0.005      0.965      0.334      -0.005       0.014
MonthlyIncome                        -0.0001   9.56e-05     -1.313      0.189      -0.000    6.19e-05
MonthlyRate                         1.14e-05   1.33e-05      0.857      0.392   -1.47e-05    3.75e-05
NumCompaniesWorked                    0.2104      0.042      5.055      0.000       0.129       0.292
PercentSalaryHike                    -0.0232      0.041     -0.561      0.575      -0.105       0.058
StandardHours                        -0.1948   8.26e+04  -2.36e-06      1.000   -1.62e+05    1.62e+05
TotalWorkingYears                    -0.0593      0.031     -1.911      0.056      -0.120       0.002
TrainingTimesLastYear                -0.1900      0.077     -2.479      0.013      -0.340      -0.040
YearsAtCompany                        0.1025      0.043      2.390      0.017       0.018       0.187
YearsInCurrentRole                   -0.1457      0.052     -2.801      0.005      -0.248      -0.044
YearsSinceLastPromotion               0.1751      0.046      3.797      0.000       0.085       0.265
YearsWithCurrManager                 -0.1569      0.051     -3.093      0.002      -0.256      -0.057
BusinessTravel_Travel_Frequently      2.1445      0.447      4.803      0.000       1.269       3.020
BusinessTravel_Travel_Rarely          1.1345      0.412      2.752      0.006       0.327       1.942
Department_Research & Development    19.6898   1.35e+04      0.001      0.999   -2.64e+04    2.64e+04
Department_Sales                     18.8403   1.35e+04      0.001      0.999   -2.64e+04    2.64e+04
EducationField_Life Sciences         -1.1683      0.891     -1.311      0.190      -2.915       0.579
EducationField_Marketing             -0.6305      0.936     -0.674      0.501      -2.465       1.204
EducationField_Medical               -1.1622      0.890     -1.306      0.191      -2.906       0.582
EducationField_Other                 -1.0231      0.962     -1.064      0.288      -2.908       0.862
EducationField_Technical Degree       0.0090      0.904      0.010      0.992      -1.762       1.780
Gender_Male                           0.4459      0.197      2.267      0.023       0.060       0.831
JobRole_Human Resources              20.0626   1.35e+04      0.001      0.999   -2.64e+04    2.64e+04
JobRole_Laboratory Technician         0.6129      0.612      1.002      0.316      -0.586       1.812
JobRole_Manager                      -0.2516      1.112     -0.226      0.821      -2.432       1.929
JobRole_Manufacturing Director        0.4829      0.566      0.853      0.394      -0.627       1.592
JobRole_Research Director            -2.0173      1.178     -1.713      0.087      -4.326       0.291
JobRole_Research Scientist           -0.5356      0.634     -0.845      0.398      -1.779       0.707
JobRole_Sales Executive               2.2012      1.293      1.703      0.089      -0.332       4.734
JobRole_Sales Representative          1.9410      1.374      1.412      0.158      -0.753       4.635
MaritalStatus_Married                 0.3240      0.290      1.116      0.265      -0.245       0.893
MaritalStatus_Single                  0.6540      0.416      1.571      0.116      -0.162       1.470
OverTime_Yes                          2.1920      0.212     10.336      0.000       1.776       2.608
Education_2                           0.2535      0.349      0.726      0.468      -0.430       0.937
Education_3                           0.2495      0.306      0.815      0.415      -0.350       0.849
Education_4                           0.2802      0.335      0.837      0.402      -0.376       0.936
Education_5                           0.2057      0.634      0.325      0.746      -1.037       1.448
EnvironmentSatisfaction_2            -1.1088      0.296     -3.746      0.000      -1.689      -0.529
EnvironmentSatisfaction_3            -1.2394      0.272     -4.558      0.000      -1.772      -0.706
EnvironmentSatisfaction_4            -1.4363      0.274     -5.241      0.000      -1.973      -0.899
JobInvolvement_2                     -1.2839      0.380     -3.383      0.001      -2.028      -0.540
JobInvolvement_3                     -1.5756      0.358     -4.404      0.000      -2.277      -0.874
JobInvolvement_4                     -2.2040      0.493     -4.472      0.000      -3.170      -1.238
JobSatisfaction_2                    -0.6570      0.288     -2.280      0.023      -1.222      -0.092
JobSatisfaction_3                    -0.6549      0.257     -2.550      0.011      -1.158      -0.152
JobSatisfaction_4                    -1.2958      0.273     -4.746      0.000      -1.831      -0.761
PerformanceRating_4                   0.0920      0.425      0.216      0.829      -0.741       0.925
RelationshipSatisfaction_2           -0.9411      0.306     -3.078      0.002      -1.540      -0.342
RelationshipSatisfaction_3           -1.0182      0.271     -3.761      0.000      -1.549      -0.488
RelationshipSatisfaction_4           -1.0257      0.270     -3.802      0.000      -1.554      -0.497
WorkLifeBalance_2                    -0.9649      0.394     -2.451      0.014      -1.737      -0.193
WorkLifeBalance_3                    -1.4949      0.370     -4.036      0.000      -2.221      -0.769
WorkLifeBalance_4                    -1.0756      0.447     -2.405      0.016      -1.952      -0.199
JobLevel_2                           -1.5874      0.483     -3.288      0.001      -2.534      -0.641
JobLevel_3                            0.1325      0.740      0.179      0.858      -1.319       1.584
JobLevel_4                           -0.7757      1.277     -0.607      0.544      -3.279       1.727
JobLevel_5                            2.2931      1.672      1.372      0.170      -0.983       5.570
StockOptionLevel_1                   -1.1381      0.329     -3.464      0.001      -1.782      -0.494
StockOptionLevel_2                   -1.0657      0.457     -2.332      0.020      -1.961      -0.170
StockOptionLevel_3                   -0.3075      0.489     -0.628      0.530      -1.267       0.652
=====================================================================================================

In [21]:
data = pd.read_csv('/data/Tangerine_data_collection_results/hr_datasets/1-ibm-hr.csv')
cat_cols=data.select_dtypes(include=object).columns.tolist()
plot_df=data['Attrition'].value_counts(normalize=True)
plot_df=plot_df.mul(100).rename('Percent').reset_index().sort_values('Percent')
plot_df.rename(columns={'index':'Attrition'}, inplace=True)
plot_df['Attrition']=['Former Employees' if i == 'Yes' else 'Current Employees' for i in plot_df['Attrition']]
x=plot_df['Attrition']
y=plot_df['Percent']
plot_df
#fig.add_trace(go.Bar(x=x, y=y, text=y,opacity=.8, hovertemplate='Employee Attrition Rate<br>%{x}: %{y:.3}%<extra></extra>', showlegend=False), row=1, col=1)

           Attrition  Percent
1   Former Employees    16.12
0  Current Employees    83.88

In [22]:
pd.options.display.max_columns = None
df_sourcefile = pd.read_csv('/data/Tangerine_data_collection_results/hr_datasets/1-ibm-hr.csv')
df_HR = df_sourcefile.copy()
df_HR.columns.to_series().groupby(df_HR.dtypes).groups
df_HR.info()
df_HR.describe()
df_HR.hist(figsize=(20,20))
for field in list(df_HR['EducationField'].unique()):
for field in list(df_HR['Gender'].unique()):
for field in list(df_HR['MaritalStatus'].unique()):
for field in list(df_HR['Department'].unique()):
for field in list(df_HR['BusinessTravel'].unique()):
for field in list(df_HR['JobRole'].unique()):
for field in list(df_HR['JobLevel'].unique()):
for field in list(df_HR['JobInvolvement'].unique()):
for field in list(df_HR['NumCompaniesWorked'].unique()):
for field in list(df_HR['WorkLifeBalance'].unique()):
for field in list(df_HR['OverTime'].unique()):
sns.kdeplot(df_HR.loc[df_HR['Attrition'] == 'No', 'MonthlyIncome'], label = 'Active Employee')

IndentationError: expected an indented block after 'for' statement on line 8 (3819395955.py, line 9)